.textHeader {
  margin-top: 30px;
  padding: 0 20px;
  text-align: center;
  font-size: 1.6rem;
  flex-grow: 1;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  /* box-shadow: inset 0 0 10px 10px red; */
}

.type {
  font-weight: 600;
  color: #484848;
  font-size: 1rem;
  line-height: 1.7;
  word-break: keep-all;
}

.section {
  padding: 80px 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.year,
.writer {
  font-family: var(--font-barlow), sans-serif;
  margin-bottom: 3px;
}

:global(html[lang="en"]) .year,
:global(html[lang="en"]) .writer {
  font-weight: 500;
}

.relatedPanel {
  padding-top: 4px;
  width: 300px;
  font-size: 1.2rem;
}


.textBody {
  width: 100%;
  max-width: 600px;
  min-width: 470px;
  margin-top: 0px;
}


@media (max-width: 780px) {
  .section {
    padding-top: 0;
    position: relative;
    padding: 40px 12px;
    display: flex;
    flex-direction: column;
  }

  .textHeader {
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    left: unset;
    margin-top: 50px;
  }

  .title {
    font-size: 1.55rem;
    font-weight: 600;
  }

  .year,
  .writer {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .textBody {
    width: 100%;
    min-width: unset;
    margin-top: 24px;
    margin-left: 0;
    padding-bottom: 40px;
  }

  .relatedPanel {
    order: 3;
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    padding-top: 10px;
  }
}