.section {
  /* box-shadow: inset 0 0 10px 10px pink; */
  padding-top: 60px;
  position: relative;
}

.eventHeader {
  position: fixed;
  top: 45px;
  left: calc(20% + 230px);
  font-size: 1.4rem;
  z-index: 2;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
  /* box-shadow: inset 0 0 10px 10px blue; */
}

.date {
  font-family: var(--font-barlow), sans-serif;
  margin-bottom: 3px;
}

:global(html[lang="en"]) .date {
  font-weight: 500;
}


.titleLine {
  /* display: block; */
}

.eventGallery {
  width: 52vw;
  margin-top: 120px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  /* background-color: #ffffff1b;
  backdrop-filter: blur(3px); */
  /* box-shadow: inset 0 0 10px 10px pink; */
  /* margin-top: 2rem; */
}

.fileGallery {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* margin-top: 170px; */
}

@media (max-width: 780px) {
  .section {
    padding-top: 0;
    position: relative;
    padding: 34px 12px;
    display: flex;
    flex-direction: column-reverse;
  }

  .eventHeader {
    order: 1;
    /* position: sticky; */
    top: unset;
    z-index: 2;
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    left: unset;
  }

  .title {
    font-size: 1.55rem;
    font-weight: 600;
    padding-left: 12%;
  }

  .date {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .eventGallery {
    width: 100%;
    margin-top: 0px;
    margin-left: 0;
  }

  .fileGallery {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
}