.workContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 300px;
  word-break: keep-all;
  margin-top: 130px;
}

.workList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 0;
  margin-left: 130px;
  padding: 0 0px 0 13px;
  padding-top: 20px;
  border-top: 0.7px dotted #181818;
}

.workLink {
  display: block;
  color: inherit;
  text-indent: -70px;
  padding-left: 70px;
}

.workItemRow {
  margin: 0;
  color: #2f2f2f;
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: left;
}

.workTitle {
  margin: 0;
}

.workTitleEn {
  font-style: italic;
  font-weight: 500;
}

.workMeta {
  margin: 0;
}

@media (max-width: 780px) {
  .workContent {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .workList {
    margin-left: 120px;
    padding: 0 0px 0 6px;
    padding-top: 15px;
  }

  .workItemRow {}
}