:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #1f1f1f;
  font-size: 10px;
}

body {
  font-family: var(--font-barlow), var(--font-gothic-a1), sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}