.footnotesSection {
  margin-top: 50px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #494949;
  font-size: 1.15rem;
  line-height: 1.6;
  font-family: var(--font-gothic-a1), sans-serif;
  border-top: 1px solid #e0e0e0;
}

.footnoteItem {
  margin: 0;
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
}

.footnoteMarker {
  width: 20px;
  flex-shrink: 0;
  font-family: "Eulyoo1945", var(--font-gothic-a1), sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: -0.8px;
  /* margin-top: 0.3px; */
}

.root :global(.footnote-ref) {
  font-size: 0.75em;
  line-height: 1;
  font-weight: 600;
  vertical-align: super;
}

.root :global(.footnote-ref a) {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.root :global(.footnote-ref a:hover) {
  text-decoration: underline;
}